@media screen and (max-width:710px) {
    .erro {
        width: 100%;
        margin: 0;
        text-align: center;
        font-size: 23px;
    }
}

@media screen and (max-width:636px) {
    .descricao {
        float: left;
        width: 100%;
    }

    .descPerfil {
        float: left;
        width: 100%;
    }

    .erro {
        font-size: 19px;
    }
}

@media screen and (max-width:484px) {
    .header #nameGit {
        font-size: 23px;
    }

    .header #nameReal {
        font-size: 18px;
    }

    #bio {
        font-size: 14px;
    }

    .search input::placeholder {
        font-size: 17px;
    }
}

@media screen and (max-width:388px) {
    .header {
        flex-direction: column;
        width: 100%;
    }

    .perfil {
        width: 100% !important;
    }

    .descricao {
        margin-top: 150px;
    }

    .respostaApi {
        height: 580px;
    }

    .search input::placeholder {
        font-size: 15px;
    }

    .search button {
        width: 20%;
        height: 35px;
    }
}


@media screen and (max-width:320px) {
    .search button {
        width: 70px;
        height: 40px;
    }
}